<div class="w-100" *ngIf="showListings" class="mt-5">
  <h2>{{ filteredJobs.length }} Job(s) found</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-left">
        <mat-form-field>
          <mat-label>No.of listings per page</mat-label>
          <mat-select [(value)]="jobsPerPage">
            <mat-option value="2">2</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 text-center">
        <mat-form-field>
          <input matInput placeholder="Filter By Company" type="text" name="comp" [(ngModel)]="company">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="filterByCompany()">Go</button>&nbsp;
      </div>
      <div class="col-md-4 text-right">
        Sort By: &nbsp;&nbsp;
        <button mat-flat-button color="primary" (click)="sortListings('location')">Location</button>&nbsp;
        <button mat-flat-button color="primary" (click)="sortListings('experience')">Experience</button>
      </div>
    </div>
  </div>

  <mat-card *ngFor="let job of filteredJobs | paginate: { itemsPerPage: jobsPerPage, currentPage: currPage }" class="mt-3">
    <mat-card-header>
      <mat-card-title>{{ job.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ job.companyname }}&nbsp;|&nbsp;{{ job.location }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left">Experience: {{ job.experience }}</p>
          </div>
          <div class="col-md-6">
            <p class="text-left">Skills: {{ job.skills }}</p>
          </div>
          <a mat-stroked-button color="primary" class="text-right text-uppercase" [href]="job.applylink">
            Apply Now
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="mt-5">
    <pagination-controls class="text-center" (pageChange)="currPage = $event"></pagination-controls>
  </div>
</div>